/*
Using Suit CSS naming conventions for better control of selector
specificity and contextual maintainability.
https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
*/

/* general style rules and "resets" */

* {
  box-sizing: border-box;
}

html {
  background: #000000;
}

body {
  background-attachment: fixed;
  background-image: url('./assets/background.png');
  background-position: center 4rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

/* mobile first styles, can be overridden for larger (desktop) specific stlyes */

.Header {
  align-items: center;
  background: #1b1c1e;
  border-bottom: 3px solid #252d37;
  color: #ffffff;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

.Header__navButton {
  align-items: center;
  background-image: linear-gradient(#242424, #181818, #000000);
  border-radius: 8px;
  border: 1px solid #242424;
  color: #ffffff;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  line-height: 1.6rem;
}

/* use pseudo selector to create left arrow chevron icon */

.Header__navButton::before {
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  content: '';
  display: inline-block;
  height: 0.3rem;
  margin-right: 5px;
  transform: rotate(45deg);
  width: 0.3rem;
}

.Header__title {
  font-size: 1.2rem;
}

.Header__logo {
  width: 2.8rem;
}

.Main {
  margin: 4rem auto 0;
  max-width: 65rem;
  width: 100vw;
  padding: 0.8rem 1rem;
}

.Hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0;
}

.Hero__image {
  border: 4px solid #ffffff;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.InfoBlock {
  color: white;
  padding: 0.8rem 0;
}

.InfoBlock__name {
  font-size: 1.8rem;
  margin: 0 0 0.4rem;
}

.InfoBlock__address {
  color: #7797b6;
  font-weight: bold;
  margin: 0.4rem 0;
}

.InfoBlock__phone {
  color: #ffffff;
}

.NavLinks {
  width: 100%;
}

.NavLinks__list {
  padding: 0;
  list-style: none;
  background: #c4d1da;
  border-radius: 12px;
}

.NavLinks__list li:first-child {
  border-radius: 12px 12px 0 0;
}

.NavLinks__list li:last-child {
  border-radius: 0 0 12px 12px;
  border-bottom: 0;
}

.NavLinks__item {
  align-items: center;
  background: linear-gradient(#e7eaf1, #d6dee5, #c4d1da);
  border-bottom: 2px solid #e7eaf1;
  cursor: pointer;
  margin-bottom: 2px;
  color: #252d37;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem;
}

.NavLinks__item::after {
  border-top: 2px solid #252d37;
  border-right: 2px solid #252d37;
  content: '';
  display: inline-block;
  height: 0.4rem;
  margin-right: 5px;
  transform: rotate(45deg);
  width: 0.4rem;
}

.NavLinks__item a {
  color: #252d37;
  text-decoration: none;
}

/* layout and block level element size adjustments for desktop viewports */

@media (min-width: 485px) {
  body {
    background-position: center 6rem;
    background-size: 75rem auto;
  }
  .Header {
    height: 6rem;
    padding: 1.2rem;
  }
  .Header__navButton {
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
    line-height: 1.6rem;
  }
  /* use pseudo selector to create left arrow chevron icon */
  .Header__navButton::before {
    height: 0.5rem;
    width: 0.5rem;
  }
  .Header__title {
    font-size: 1.8rem;
  }
  .Header__logo {
    width: 5rem;
  }
  .Main {
    margin: 6rem auto 0;
    max-width: 65rem;
    width: 100vw;
    padding: 2rem 2.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: wrap;
  }
  .InfoBlock {
    width: 45%;
  }
  .InfoBlock__name {
    font-size: 2.2rem;
    margin: 0.4rem 0;
  }
  .InfoBlock__address {
    margin: 0.4rem 0;
  }

  .NavLinks {
    width: 50%;
  }
}